<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blockchain{% endblock %}</title>

    {% load static %}

    {% block bootstrap %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    {% endblock %}

    {% block js %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    {% endblock %}
</head>
<body>

{% block header %}
    <div class="header-top jumbotron jumbotron-fluid">
        <h1>Welcome to the Blockchain</h1>
    </div>
{% endblock %}

{% block nav %}
    <div class="container-fluid">
      <div class="row">
        <ul class="nav flex-column col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <li class="nav-item">
            <button class="btn btn-primary" data-toggle="modal" data-target="#new_simulation_modal">Make simulation</button>
            <button class="btn btn-secondary mt-1" data-toggle="modal" data-target="#new_node_modal">Add node</button>
          </li>
          <li class="nav-item mt-1">
              {% if nodes|length > 1 %}
                <button class="btn btn-secondary" data-toggle="modal" data-target="#new_transaction_modal">Add transaction</button>
              {% endif %}
          {% if nodes|length > 0 %}
                <button class="btn btn-danger mt-1" onclick="clearNetwork();">Reset network</button>
              {% endif %}
          </li>
        </ul>
      </div>
    </div>
{% endblock %}

{% block content %}

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3" id="cards">
        {% if nodes %}
        <h1>Nodes</h1>
            <div class="card-deck">
            {% for node in nodes %}
                <div class="card border-info mb-3" style="max-width: 20rem;">
                      <div class="card-header">ID: {{node.node.id}}</div>
                      <div class="card-body text-info">
                          <h4>About</h4>
                          <h6>Blocks: {{ node.node.chain.chain|length }}</h6>
                          <h6>Transactions: {{ node.count_transactions }}</h6>
                          <br>
                          <h4>Versions</h4>
                          <h6>Navigation version: {{ node.version_nav }}</h6>
                          <h6>Engine version: {{ node.version_engine }}</h6>
                          <h6>Stereo version: {{ node.version_stereo }}</h6>
                          <br>
                          <a href="/detail/{{ node.node.id }}">Detail view</a>
                      </div>
                    </div>
            {% endfor%}
            </div>
        {% else %}
            <h1>The network is empty! Add at least two nodes to make a transaction :)</h1>
        {% endif %}

    </main>

    <!-- Modal -->
        <!-- new node -->
    <div class="modal fade" id="new_node_modal" tabindex="-1" role="dialog" aria-labelledby="new_node_modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="new_node_modalLabel">Add new node</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div class="modal-body">
                <div class="form-group">
                        <label for="node_id">ID</label>
                        <input type="text" class="form-control" id="node_id">
                        <label for="node_version">Version</label>
                        <select id="node_version" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                      </select>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="addNode()" class="btn btn-primary">Add</button>
              </div>
        </div>
      </div>
    </div>

            <!-- new simulation -->
    <div class="modal fade" id="new_simulation_modal" tabindex="-1" role="dialog" aria-labelledby="new_simulation_modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="new_simulation_modalLabel">Make simulation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div class="modal-body">
                <div class="form-group">
                        <label for="nodes_count">Node count</label>
                        <input type="text" class="form-control" id="nodes_count">
                        <label for="transactions_count">Transactions count</label>
                        <input type="text" class="form-control" id="transactions_count">
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" onclick="makeSimulation()" class="btn btn-primary">Add</button>
              </div>
        </div>
      </div>
    </div>

            <!-- new transaction -->
    <div class="modal fade" id="new_transaction_modal" tabindex="-1" role="dialog" aria-labelledby="new_transaction_modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="new_transaction_modalLabel">Add new Transaction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="input_from">From</label>
                      <select id="input_from" class="form-control">
                          {% for node in nodes %}
                            <option>{{node.node.id}}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="input_to">To</label>
                      <select id="input_to" class="form-control">
                        {% for node in nodes %}
                            <option>{{node.node.id}}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="input_kind">Kind of MAJ</label>
                      <select multiple id="input_kind" class="form-control">
                        <option>Engine</option>
                        <option>Stereo</option>
                        <option>Navigation</option>
                      </select>
                  </div>
              </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="addTransaction()" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


</body>
</html>